@import "tailwindcss";

/* Metropolis */
/* Metropolis - Light (Weight: 300) */
@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300; /* Light */
}

/* Metropolis - Regular (Weight: 400) */
@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400; /* Regular */
}

/* Metropolis - Medium (Weight: 500) */
@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500; /* Medium */
}

/* Metropolis - SemiBold (Weight: 600) */
@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600; /* SemiBold */
}

/* Metropolis - Bold (Weight: 700) */
@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700; /* Bold */
}

:root {
  --PixieDye-Blue-Violet: #4342ff;
  --PixieDye-Not-So-white: #f7f7f7;
  --PixieDye-Neon: #daff02;
  --PixieDye-Gray: #989898;
  --PixieDye-Darkest-Hour: #201e1f;
  --PixieDye-overlay: var(--PixieDye-Darkest-Hour);
}

@theme {
  --font-metropolis: "Metropolis", sans-serif;

  --color-pixiedye-blue-violet: var(--PixieDye-Blue-Violet);
  --color-pixiedye-not-so-white: var(--PixieDye-Not-So-white);
  --color-pixiedye-neon: var(--PixieDye-Neon);
  --color-pixiedye-gray: var(--PixieDye-Gray);
  --color-pixiedye-darkest-hour: var(--PixieDye-Darkest-Hour);
  --color-pixiedye-overlay: var(--PixieDye-overlay);
}

* {
  font-family: var(--font-metropolis);
}

.toasterWrapper > div {
  display: none !important;
}

.toasterWrapper > div:first-child {
  display: flex !important;
}

/* Scrollbar Hide */
::-webkit-scrollbar {
  display: none;
}
